<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>black jack</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="game-div">
    <ion-button color="tertiary">Dealer</ion-button>
    <ion-button expand="block" color="dark" shape="round">Black Jack</ion-button>
    <ion-button color="danger">Coming Soon!</ion-button>
    <div>
      <ion-button color="primary">DEAL</ion-button>
      <ion-button color="primary">SHUFFLE</ion-button>
    </div>
  </div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button checked value="friends" class="withIndicator">
      <ion-label>All Bets</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies" class="withIndicator">
      <ion-label>My Bets</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- <div class="timeBettor">
    <span>Time</span>
    <span>Bettor</span>
    <span>Payout</span>
  </div>
  <div class="table-div">
    <span>20:44:12</span>
    <span>nathen007</span>
    <p>2 Steem</p>
  </div>
  <div class="table-div">
    <span>20:44:12</span>
    <span>nathen007</span>
    <p></p>
  </div> -->
</ion-content>