<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gamblr
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding class="top-div-css">
    <h3>Welcome to Gamblr</h3>
    <div class="gameWrapper" (click)="movetoPage('/dicepage')">
        <img src="../../assets/dice.png">
        <ion-button color="primary">PLAY DICE</ion-button>
      </div>
      <div class="gameWrapper" (click)="movetoPage('/blackjack')">
        <img src="../../assets/blackjack.png">
        <ion-button color="primary">PLAY BLACKJACK</ion-button>
      </div>
      <div class="gameWrapper" (click)="movetoPage('/slot-game')">
        <img src="../../assets/poker.png">
        <ion-button color="primary">PLAY SLOT</ion-button>
      </div>
  </div>
 
</ion-content>