
.top-div-css{
  background: #042866;
  h3{
      color: #007bff!important;
      color: #007bff !important;
      font-weight: bold;
      text-align: center;
      margin: 80px 30px;
  }
}
ion-header{
  background: #051f40!important;
  ion-toolbar{
      --background: #051f40!important;
      color: white
  }
}
.gameWrapper{
  text-align: center;
  img{
      height: 70px;
      display: block;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 20px;
  }
  ion-button{
      width: 200px;
  }
}